@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

.navbar-custom {
  padding-top: 30px;
  height: 120px;
  z-index: 1030;
}

body {
  background-color: black;
}



.custom-togler {
  border: none;
  outline: none;
  box-shadow: none;
}

.logo {
  margin-top: 0;
  padding-top: 0;
  height: 100px;
  width: 140px;
}

.iconClass {
  color: white;
  margin: 20px 20px 0px 20px;
  font-size: 23px;
  transition: 0.3s ease-in-out;
}

.iconClass:hover {
  transform: scale(1.1);
}

#firstHalf {
  background-image: url(./assets/header1.jpg);
}

.promotional-service {
  position: fixed !important;
  top: 0 !important;
  right: 0;
  left: 0;
  z-index: 1050;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  background-color: #f9f9f9;
  padding-bottom: 5px;



}

.promotional-service span {
  margin-right: 18%;
  opacity: 0;
  z-index: 1050;

}

.promotional-service span.visible {
  opacity: 1;
  animation: moveText 6s linear infinite;
}

@keyframes moveText {

  0%,
  20% {
    transform: translateX(100%);

  }

  25%,
  45% {
    transform: translateX(0%);

  }

  50%,
  70% {
    transform: translateX(-100%);
  }
}

.carusel_section {
  font-size: 1.2em;
  line-height: 1.5;
  color: white;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.carusel {
  text-align: right;
  margin-top: -20%;
  margin-right: 50px;

}

.carusel h2 {
  margin: 0 0 20px;
}

/* Product Details Css */
.product-detail-container {
  min-height: 1200px;
  margin-top: 250px;
  background-color: rgb(85, 74, 74);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.product-detail-images {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-detail-images img {
  width: 100%;
  margin-bottom: 10px;
}

.product-detail-info {
  flex: 1;
  padding: 0 20px;
}

.product-color-options label,
.product-size-options label {
  display: block;
  margin-bottom: 5px;
}

.product-shipping-details p {
  margin: 5px 0;
}